APP_KEY=
APP_URL=
APP_DOMAIN=

DB_HOST=database
DB_DATABASE=password-sense
DB_USERNAME=password-sense
DB_PASSWORD=

WEBSOCKET_APP_KEY=
WEBSOCKET_APP_SECRET=
WEBSOCKET_APP_ID=

DOCKER_PS_API_TAG=stable
DOCKER_PS_FRONTEND_TAG=stable